{% extends 'views/base.html' %}
{% block body %}
<div class="container">
	<div class="box sign-box">
		<form action="/signup" method="POST">
			<div class="field">
				<label class="label">用户名</label>
				<div class="control">
					<input class="input" name="name" type="text" placeholder="输入用户名">
				</div>
			</div>
			<div class="field">
				<label class="label">密码</label>
				<div class="control">
					<input class="input" name="password" type="password" placeholder="输入密码">
				</div>
			</div>
			<div class="field">
				<label class="label">重复密码</label>
				<div class="control">
					<input class="input" name="repassword" type="password" placeholder="确认密码">
				</div>
			</div>
			<div class="field">
				<label class="label">是否是管理员</label>
				<div class="control">
					<input class="input" name="isAdmin" type="isAdmin" placeholder="输入 true 注册为管理员">
				</div>
			</div>
			<div class="field is-grouped">
				<div class="control">
					<button class="button is-primary">立即注册</button>
				</div>
				<div class="control">
					<a href="/signin" class="button is-text">已有账号？直接登录</a>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
